<ion-view>
  <ion-content>
    <h1 class="center">Sport</h1>
<ion-list>
<!--
  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
     </button>
-->
<ion-item ng-repeat="practise in practises" ng-show=(practise.objectif==user.goal) | limiTo =1> 
<div class="item item-avatar">
    <img src="ressources/excercice.png">
      <h2>{{practise.name}}</h2>
      <a href="#" OnClick="javascript:window.print()">Imprimer</a> 
    </div>
    <!--<ion-checkbox ng-checked="excercise.checked" ng-disabled="excerice.checked" ng-click="changeExcercice(excerice)">
          <label ng-if="!excerice.checked">Choisir ce programme</label>
          <label ng-if="excerice.checked">Programme choisi</label>
        </ion-checkbox>
    -->
  <ion-item ng-repeat="exercise in practise.exercises"> 
      <div class="list card">
    <!--<div class="item item-body">
      <img class="full-image" ng-src="{{exercise.image}}" style="max-width: 300px;">
      <p>
       {{exercise.description}}
      </p>
    </div>-->
  <div class="item item-thumbnail-left">
      <img src="{{exercise.image}}">
        <h2>{{exercise.name}}</h2>
        <p>Durée : {{exercise.duration}}</p>
</div>
   </ion-item>

</ion-item>
 </ion-list>
 <!--<button ng-click="loadNextPage()">
            Show More
        </button> -->
  </ion-content>
</ion-view>

