<ion-view>
  <ion-content>
    <h1 class="center">Sport</h1>

   <label class="item item-input item-select">
      <div class="input-label">
        Séance : 
      </div>
     
      <select ng-model="selectedpractice" ng-options="practice as practice.practiceName for practice in practices">
        <option value="" disabled selected">Selectionner votre séance</option>  
      </select>
    </label>
    
    <div class="row">
      <img class="col-25" style="max-height: 100px; max-width: 100px;" ng-src="{{goal.image}}">
      <div class="col-75">
        <h1>{{selectedpractice.practiceName}}</h1>
        <h3>objectif : {{goal.name}}</h3>
        <h3>description : {{selectedpractice.description}}</h3>
      </div>
    </div>
    
    <div ng-repeat="exercise in selectedpractice.listExo" class="item item-thumbnail-left">
      <img ng-src="{{exercise.pictureExercise}}">
      <h2>{{exercise.nameExercise}}</h2>
      <div class="row responsive-sm">
        <div class="col">
          <p>Durée : {{exercise.ple.duration}} min </p>
          <p>Nb de Set : {{exercise.ple.set}} </p>
          <p>Nb de Repetition : {{exercise.ple.repetition}} </p>
        </div>
        <div class="col">
          <p>Leg :
            <span ng-if="exercise.legDifficultyExercice == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.legDifficultyExercice"><img src="ressources/sport/etoile.png"></span>
          </p>
          <p>Arm :
            <span ng-if="exercise.difficultyArmExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyArmExercise"><img src="ressources/sport/etoile.png"></span>
          </p>
          <p>Cheast :
            <span ng-if="exercise.difficultyCheastExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyCheastExercise"><img src="ressources/sport/etoile.png"></span>
          </p>

        </div>
        <div class="col">

          <p>Abs :
            <span ng-if="exercise.difficultyAbsExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyAbsExercise"><img src="ressources/sport/etoile.png"></span>
          </p>
          <p>Back :
            <span ng-if="exercise.difficultyBackExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyBackExercise"><img src="ressources/sport/etoile.png"></span>
          </p>
          <p>Shoulder :
            <span ng-if="exercise.difficultyShoulderExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyShoulderExercise"><img src="ressources/sport/etoile.png"></span>
          </p>
        </div>
        <div class="col">

          <p>Butt :
            <span ng-if="exercise.difficultyButtExercise == 0"><img src="ressources/sport/etoile_grise.png"></span>
            <span ng-repeat="n in [] | range:exercise.difficultyButtExercise"><img src="ressources/sport/etoile.png"></span>
          </p>
        </div>
      </div>
      
      Description : {{exercise.descriptionExercise}}
    </div>
  </ion-item>
        </ion-content>
      </ion-view>

