<ion-view>
  <ion-content>
    <h1 class="center">Sport</h1>
<!--
  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
     </button>
   -->
   <label class="item item-input item-select">
    <div class="input-label">
      Séance :
    </div>
    <select>
      <option ng-click ng-repeat="practise in practises">{{practise.name}}</option>
    </select>
  </label>
   <ion-item ng-repeat="practise in practises"> 
    <div class="item item-thumbnail-left">
      <img src="{{user.goal_image}}"> <!--TODO IMAGE-->
      <h1>{{practise.name}}</h1>
      <h2>//TODO affichage objectif</h2>
      <button class="button button-stable" ng-click = "javascript:window.print()" >
        imprimer
      </button>
    </div>
    <!-- | limiTo =1     <ion-checkbox ng-checked="excercise.checked" ng-disabled="excerice.checked" ng-click="changeExcercice(excerice)">
          <label ng-if="!excerice.checked">Choisir ce programme</label>
          <label ng-if="excerice.checked">Programme choisi</label>
        </ion-checkbox>
      -->

      
    <!--<div class="item item-body">
      <img class="full-image" ng-src="{{exercise.image}}" style="max-width: 300px;">
      <p>
       {{exercise.description}}
      </p>
    </div>-->
    <div ng-repeat="exercise in practise.exercises" class="item item-thumbnail-left">
      <img src="{{exercise.image}}">
      <h2>{{exercise.name}}</h2>
      <div class="row responsive-sm">
        <div class="col">
          <p>Durée : {{exercise.duration}} min </p>
          <p>Nb de Set : {{exercise.set}} </p>
          <p>Nb de Repetition : {{exercise.rep}} </p>
      </div>
        <div class="col">
          <p>Leg : TODO </p>
          <p>Arm  : TODO </p>
          <p>Cheast : TODO </p>
        </div>
      </div>
      
      Description : {{exercise.description}}
    </div>
  </ion-item>

 <!--<button ng-click="loadNextPage()">
            Show More
          </button> -->
        </ion-content>
      </ion-view>

