<ion-view>
  <ion-content>
    <h1 class="center">Coach : Création d'une séance d'entraînement</h1>
 
        <div class="list card">
      <div class="item item-body">
        <form name="informationForm" ng-submit="doInformationModification(modif)">

          <label class="item item-input item-stacked-label">
          <span class="input-label">Nom séance :</span>
          <input type="text" ng_model="modif.seance" placeholder="Nom séance">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Objectif : 
            </div>
            <select ng-model="practiceGoal" ng-options="goal as goal.name for goal in goals">
              <option value="" disabled selected">Selectionner votre objectif</option>  
            </select>
          </label>
        </form>

        </div>
        </div>
           <fieldset  data-ng-repeat="choice in choices">
       <div class="list card">
      <div class="item item-body">
        <form name="informationForm" ng-submit="doInformationModification(modif)">
        <label class="item item-input item-select">
    <div class="input-label">
      Exercice : 
    </div>
   
    <select ng-model="selectedpractice" ng-options="practice as practice.practiceName for practice in practices">
      <option value="" disabled selected">Selectionner votre exercice</option>  
    </select>
  </label>
   <label class="item item-input">
          <span class="input-label">Durée : </span>
          <input type="number" ng-model="modif.Durée">
        </label>
        <label class="item item-input">
          <span class="input-label">Nombre de set : </span>
          <input type="number" ng-model="modif.set">
        </label>
        <label class="item item-input">
          <span class="input-label">Nombre de répétitions : </span>
          <input type="number" ng-model="Ajouter.">
        </label>
         <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
         </form>
          </fieldset>
           </div>
    </div>
  </fieldset>
    <label class="item">
            <button class="button button-block button-balanced" type="submit" ng-click="addNewChoice()">Ajouter exercice</button>
          </label>
            <label class="item">
            <button class="button button-block button-balanced" type="submit" ng-click="saveNewPractice()">Sauvegarder</button>
          </label>
       
     
          
  
        </ion-content>
</ion-view>