<ion-view>
  <ion-content>
    <h1 class="center">Coach : Création d'un exercice</h1>
    <form name="exerciseForm"">
    	<div class="list card">
          <div class="item item-body">
            <label class="item item-input item-stacked-label">
            <span class="input-label">Nom de l'exercice :</span>
            <input type="text" ng_model="newExercise.nameExercise" placeholder="Nom de l'exercice">
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Description de l'exercice :</span>
            <input type="text" ng_model="newExercise.descriptionExercise" placeholder="Description de l'exercice">
            </label>
        </div>
    	</div>

      <div class="list card">
        <div class="item item-body">
          <label class="item item-input item-select">
            <div class="input-label">Epaules : </div>
            <select ng-model="newExercise.difficultyShoulderExercise">
              <option value="" disabled selected">Difficulté pour les épaules</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Bras : </div>
            <select ng-model="newExercise.difficultyArmExercise">
              <option value="" disabled selected">Difficulté pour les bras</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Pectoraux : </div>   
            <select ng-model="newExercise.difficultyCheastExercise">
              <option value="" disabled selected">Difficulté pour les pectoraux</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Dos : </div>   
            <select ng-model="newExercise.difficultyBackExercise">
              <option value="" disabled selected">Difficulté pour le dos</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Abdos : </div>   
            <select ng-model="newExercise.difficultyAbsExercise">
              <option value="" disabled selected">Difficulté pour les abdos</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Fessiers : </div>   
            <select ng-model="newExercise.difficultyButtExercise">
              <option value="" disabled selected">Difficulté pour les fessiers</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Jambes :</div>
            <select ng-model="newExercise.legDifficultyExercice">
              <option value="" disabled selected">Difficulté pour les jambes</option>  
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Image pour illustrer l'exercice: 
            </div>
            <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().setFile(this.files)"/>
          </label>
          <label class="item">
            <button class="button button-block button-balanced" ng-click="saveNewExercise(newExercise)">Sauvegarder</button>
          </label>

      	</div>
      </div>
    </form>
  </ion-content>
</ion-view>