<ion-view>

  <ion-content>

    <h1 class="center">Création de séance</h1>





<div ng-model="coach.controllers" ng-controller="CoachCtrl">

   <fieldset  data-ng-repeat="choice in choices">

      <label class="item item-input item-select">

    <div class="input-label">

      Exercice : 

    </div>

   

    <select ng-model="selectedpractice" ng-options="practice as practice.practiceName for practice in practices">

      <option value="" disabled selected">Selectionner exercice</option>  

    </select>

    </label>

      <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">

      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>

   </fieldset>

   <label class="item">

            <button class="button button-block button-balanced" ng-click="addNewChoice()">  Ajouter un exercice </button>

      </label>



      <label class="item">

            <button class="button button-block button-balanced" ng-click="showProfilModification()">  Save </button>

      </label>

       

    </div>

  </ion-content>

</ion-view>