.buttonsHeader {

	width: 95%;
	margin-left: 45px;
	top: 0;
	border-bottom-width: 0;

}

.buttonHeader {

	width: 30%;
	color: #fff;

}

.bottomItem {

	position: absolute;
    bottom: 5px;

}

.error {

	color: red;
    margin-left: 10px;
    
}

.customIcon {

	border-radius: 0% !important;

}

.center {

	text-align: center;
}

.item{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}

.h1{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}
.h2{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}
.h3{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}

.p{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}
